@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'NiasecLux';
    src: url('../../../fonts/NiasecLux/NiasecLuxDEMO-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

h1, h2, p {
    margin: 0
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.container {
    min-width: 1920px;
    margin: 0 auto;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    min-width: 1920px;
    background-color: #000000;
}

.header-container {
    display: flex;
    max-height: 92px;
}

.header-container a {
    text-decoration: none;
}

.header-logo {
    font-family: 'NiasecLux';
    color: #D7BB71;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 22px 303px 21px 279px;
    letter-spacing: 0.24em;
}

.nav-list {
    display: flex;
    color: #DCBD6B;
    list-style: none;
    text-transform: uppercase;
    margin: 32px 0 31px;
}

.arrow {
    height: 12px;
    width: 12px;
    border-top: 2px solid #D7BB71;
    border-left: 2px solid #D7BB71;
    transform: rotate(45deg);
    margin: 11px 0 0 9px;
    transition: all 0.3s;
}

.arrow-active {
    transform: rotate(-135deg);
    margin: 5px 0 0 9px;
    transition: all 0.3s;
}


.nav-item {
    display: flex;
    position: relative;
    margin-right: 144px;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}

.nav-item:hover::before {
    opacity: 1;
}

.nav-item:nth-child(2)::before {
    opacity: 0;
}

.nav-item::before {
    content: '';
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #D7BB71;
    left: 0;
    bottom: -5px;
    transition: all 0.7s ease;
}

.nav-item:nth-child(2) {
    margin-right: 146px;
}

.nav-item:nth-child(3) {
    margin-right: 0px;
}

.dropdown {
	position: absolute;
	left: -22px;
	top: 100%;
	width: 290px;
	background-color: #000000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    border: 1px solid #D7BB71;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 20px;
}

.dropdown-active {
	opacity: 1;
	visibility: visible;
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: all 0.5s ease 0s;
    display: none;
}

.popup-active {
    display: block;
    transition: all 0.5s ease 0s;
}

.popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    width: 899px;
    height: 933px;
    border: 1px solid #D7BB71;
    color: #D7BB71;
    align-items: center;
}

.close-button {
    background: none;
    height: 41px;
    width: 41px;
    margin: 44px 51px 0 807px;
}

.popup h1 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.name, .email {
    margin-bottom: 47px;
}

.phone {
    margin-bottom: 30px;
}

.name input, .email input ,.phone input {
    width: 649px;
    height: 71px;
    background: none;
    border: 1px solid #D7BB71;
    color: #D7BB71;
    font-size: 24px;
    padding-left: 10px;
}

.name-text, .email-text, .phone-text {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.popup span {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 72px;
}

.popup-button {
    background: none;
    border: 1px solid #D7BB71;
    padding: 25px 42px;
    width: 238px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #D7BB71;
    cursor: pointer;
}

.popup-button:hover {
    background: #D7BB71;
    color: #000000;
    border: 1px solid #000000;
    transition: all 0.5s ease;
}

.line {
    width: 100%;
    border-bottom: 1px solid #D7BB71;
}

.wrapper {
    display: flex;
    width: 1920px;
    margin: 0 auto;
}

.ticker {
    display: flex;
    flex-direction: column;
    gap: 63px;
    background-color: #000000;
}

.intro-container {
    display: flex;
    width: 100%;
}

.empty-container {
    width: 100%;
    background-color: #000000;
    min-width: 280px;
    border-right: 1px solid #D7BB71;
    background-size: cover;
}

.empty-container:nth-child(4) {
    background-color: #0C0D08;
    min-width: 280px;
    border-left: 1px solid #D7BB71;
}

.wine-photo {
    background-image: url("../../../assets/6.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200%;
    height: 799px;   
}

.wine-description {
    display: flex;
    flex-direction: column;
    background-color: #0C0D08;
    color: #D7BB71;
    border-left: 1px solid #D7BB71;
}

.description-card {
    min-width: 547px;
    margin: 73px 123px 97px 134px;
}

.description-card h1 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.description-card h2 {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 91px;
}

.description-card p {
    line-height: 54px;
    width: 292px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}

.wine-description button {
    margin-left: 452px;
    background: none;
    border: 1px solid #D7BB71;
    padding: 25px 42px;
    width: 238px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #D7BB71;
    cursor: pointer;
}

.wine-description button:hover {
    background: #D7BB71;
    color: #000000;
    border: 1px solid #000000;
    transition: all 0.5s ease;
}


.wine-taste {
    border-bottom: 1px solid #D7BB71;
}

.taste-container {
    display: flex;
    width: 100%;
}

.taste {
    display: flex;
    background-color: #0C0D08;
    min-width: 605px;
    border-right: 1px solid #D7BB71;
    width: 100%;
}

.taste span {
    font-weight: 700;
    font-size: 40px;
    color: #D7BB71;
    margin: 265px 95px 266px auto;
    text-transform: uppercase;
}

.taste-settings {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    min-width: 1315px;
    width: 100%;
}

.settings { 
    display: flex;
    margin: 84px 280px 93px 110px;
}

.settings span {
    font-weight: 400;
    font-size: 24px;
    color: #D7BB71;
    text-transform: uppercase;
    margin-right: 19px;
}

.scale {
    width: 671px;
    height: 35px;
    border: 1px solid #D7BB71;
}

.scale-bar, .word-bar {
    display: flex;
    flex-direction: column;
    gap: 84px;
    justify-content: center;
}

.word-bar {
    gap:91px;
    text-align: right;
}

.percent {
    width: 115px;
    height: 34px;
    background: #D7BB71;
}

.scale:nth-child(2) .percent {
    width: 345px;
    height: 34px;
    background: #D7BB71;
}

.scale:nth-child(3) .percent {
    width: 460px;
    height: 34px;
    background: #D7BB71;
}

.scale:nth-child(4) .percent {
    width: 345px;
    height: 34px;
    background: #D7BB71;
}

.storage-container {
    display: flex;
    width:100%;
}

.wine-logo {
    display: flex;
    background-color: #000000;
    min-width: 1085px;
    width: 100%;
    border-right: 1px solid #D7BB71;
}

.wine-logo span {
    font-family: 'NiasecLux';
    color: #D7BB71;
    font-weight: 400;
    font-size: 100px;
    text-transform: uppercase;
    margin: 122px 134px 109px auto;
}

.wine-feeding {
    display: flex;
    flex-direction: column;
    min-width: 835px;
    width: 100%;
    background-color: #0C0D08;
}

.feeding-bar {
    display: flex;
    flex-direction: column;
    gap:19px;
    margin: 113px auto 113px 172px;
}

.feeding-bar span {
    font-weight: 700;
    font-size: 40px;
    color: #D7BB71;
    text-transform: uppercase;
}

.feeding-bar span:nth-child(2){
    font-weight: 400;
    font-size: 45px;
}

.wine-storage {
    border-bottom: 1px solid #D7BB71;
}

.wine-testimonial {
    background-color: #0C0D08;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    gap: 98px;
    min-width: 1167px;
    padding: 100px 358px 97px 394px;
    color:#D7BB71;
    text-transform: uppercase;
    line-height: 49px;
}

.testimonial-wrapper h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.testimonial-wrapper p {
    font-size: 24px;
}

.testimonial-wrapper button {
    background: none;
    border: 1px solid #D7BB71;
    padding: 25px 42px;
    width: 238px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #D7BB71;
    cursor: pointer;
}

.testimonial-wrapper button:hover {
    background: #D7BB71;
    color: #000000;
    border: 1px solid #000000;
    transition: all 0.5s ease;
}

footer {
    background-color: #000000;
    min-width: 1920px;
}

.footer-container {
    display: flex;
    color: #D7BB71;
}

.address {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 30px;
    margin: 68px 755px 68px 280px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 5px;
    text-align: right;
    margin: 68px 0 68px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
